<<<<<<< HEAD
.footer-contacts {
  @media screen and (min-width: 768px) {
    width: 232px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 76px;
  }
}

=======
>>>>>>> bef1715ace4bdb7c79ce874e1e6cdbe7f633c7b8
.footer-adress-list {
  margin-top: 20px;
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}
<<<<<<< HEAD

.footer-adress-list .item:not(:first-child) {
=======
.footer-contacts .item {
  @media screen and (min-width: 1200px) {
    width: 231px;
  }
}
.footer-contacts .item:not(:first-child) {
>>>>>>> bef1715ace4bdb7c79ce874e1e6cdbe7f633c7b8
  margin-top: 9px;
}
.footer-adress-link {
  margin-top: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
<<<<<<< HEAD
  color: rgba(255, 255, 255, 0.6);
=======
  color: $sub-main-color-white;
>>>>>>> bef1715ace4bdb7c79ce874e1e6cdbe7f633c7b8
}
.footer-adress-map {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: $main-color-white;
}
