.footer-section {
  background-color: #2f303a;
}
.footer-box {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  @media screen and(min-width:768px) {
    display: flex;
<<<<<<< HEAD
    flex-wrap: wrap;
=======
>>>>>>> bef1715ace4bdb7c79ce874e1e6cdbe7f633c7b8
  }
  padding-top: 60px;
  padding-bottom: 60px;
}
<<<<<<< HEAD
=======
.footer-box div:nth-child(2) {
  @media screen and (min-width: 768px) {
    margin-left: 165px;
  }
}
.footer-box div + div {
  @media screen and (min-width: 768px) {
    margin-left: 94px;
  }
}
>>>>>>> bef1715ace4bdb7c79ce874e1e6cdbe7f633c7b8

.footer-titles {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $main-color-white;
}
.logo-footer {
  --color4: #ffffff;
}
