.footer-section {
  background-color: #2f303a;
}
.footer-box {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  @media screen and(min-width:768px) {
    display: flex;
    flex-wrap: wrap;
  }
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-titles {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $main-color-white;
}
.logo-footer {
  --color4: #ffffff;
}
