/*  services hero селеткторы*/
/* Селекторы секции заказа услуг */
.services-hero {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  text-align: center;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.services-text-hero {
  margin-top: 0px;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: (42 / 26);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $main-color-white;
<<<<<<< HEAD
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: (60 / 44);
  }
=======
>>>>>>> bef1715ace4bdb7c79ce874e1e6cdbe7f633c7b8
}
.services-button {
  display: inline-block;
  min-width: 200px;
<<<<<<< HEAD
  height: 50px;
=======
>>>>>>> bef1715ace4bdb7c79ce874e1e6cdbe7f633c7b8
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: $main-color-white;
  background-color: $hover-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: #188ce8;
  }
}
