/* постоянные клиенты */
.our-clients {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
<<<<<<< HEAD
.our-clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.our-clients-list li {
  max-width: calc(50% - 30px);
  @media screen and (max-width: 767px) {
    &:nth-child(2n + 2) {
      margin-left: 30px;
    }
    &:nth-child(n + 3) {
      margin-top: 30px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 226px;
    &:nth-child(3n + 2) {
      margin-right: 30px;
      margin-left: 30px;
    }
    &:nth-child(n + 4) {
      margin-top: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
    & + li {
      margin-left: 30px;
    }
  }
}

=======
.our-clients ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -30px;
}
.our-clients li {
  margin: 15px;
}
.our-clients-list {
  display: flex;
  flex-wrap: wrap;
}
>>>>>>> bef1715ace4bdb7c79ce874e1e6cdbe7f633c7b8
.our-clients-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
<<<<<<< HEAD
  max-width: 210px;
=======

>>>>>>> bef1715ace4bdb7c79ce874e1e6cdbe7f633c7b8
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    border: 1px solid $hover-color;
  }
  &:hover .our-clients-label {
    fill: $hover-color;
  }
}

.our-clients-label {
<<<<<<< HEAD
  max-width: 210px;
  max-height: 90px;
=======
  width: 210px;
  height: 90px;
>>>>>>> bef1715ace4bdb7c79ce874e1e6cdbe7f633c7b8

  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
